{% extends 'base.html' %}
{% block extra_header %}{% endblock %}
    {% block headerclass %}{% endblock %}
{% block content %}
    <section id="password-form" class="">
    <div class="form--steps-container">
        <div class="form--steps-counter"><h3>Zmodyfikuj swoje dane</h3></div>

        <form action="" method="post">
            {% csrf_token %}
            <div >
                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                <h4>Zmiana hasła</h4>
                <div class="form-group form-group--inline">
                  <label> Stare hasło {{ form.old_password }} </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> Nowe hasło {{ form.new_password1 }} </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Powtórz nowe hasło {{ form.new_password2 }}
                  </label>
                </div>
                  <br>
                  <button type="submit" class="btn next-step form-group--inline">Zmień hasło</button>
                  <br>
              </div>
                </div>
            </div>
        </form>
    </div>
    </section>
{% endblock %}