{% extends "base.html" %}
{% load static %}

{% block title %} Strona główna {% endblock %}
{% block headerclass %}header--main-page{% endblock %}
{% block extra_header %}
  <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
        Zacznij pomagać!<br />
        Oddaj niechciane rzeczy w zaufane ręce
      </h1>
    </div>
  </div>
{% endblock %}


{% block content %}
<section id="stats" class="stats">
  <div class="container container--85">
    <div class="stats--item">
      <em>{{ quantities }}</em>
        <h3>Oddanych worków</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
    </div>

    <div class="stats--item">
      <em>{{ institutions.sum }} </em>
      <h3>Wspartych organizacji</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
    </div>

  </div>
</section>

<section id="steps" class="steps">
  <h2>Wystarczą 4 proste kroki</h2>

  <div class="steps--container">
    <div class="steps--item">
      <span class="icon icon--hands"></span>
      <h3>Wybierz rzeczy</h3>
      <p>ubrania, zabawki, sprzęt i inne</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--arrow"></span>
      <h3>Spakuj je</h3>
      <p>skorzystaj z worków na śmieci</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--glasses"></span>
      <h3>Zdecyduj komu chcesz pomóc</h3>
      <p>wybierz zaufane miejsce</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--courier"></span>
      <h3>Zamów kuriera</h3>
      <p>kurier przyjedzie w dogodnym terminie</p>
    </div>
  </div>

  <a href="{% url 'register' %}" class="btn btn--large">Załóż konto</a>
</section>

<section id="about-us" class="about-us">
  <div class="about-us--text">
    <h2>O nas</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
    <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
  </div>
  <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
</section>

  <section id="help" class="help">
  <h2>Komu pomagamy?</h2>

  <ul class="help--buttons">
    <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
    <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
    <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
  </ul>

  <!-- SLIDE 1 -->
  <div class="help--slides active" data-id="1">
    <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

    <ul class="help--slides-items">
        {% for fundation in fundationsp %}

        <li>
        <div class="col">
          <div class="title">{{ fundation.name }}</div>
          <div class="subtitle">{{fundation.description}}</div>
        </div>

        <div class="col"><div class="text">{% for category in fundation.category.all %}{{ category.name }}{% endfor %}</div></div>
      </li>
        {% endfor %}
    </ul>
        {% if fundationsp.has_other_pages %}
  <div class="pagination">
    {% if fundationsp.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page={{ fundationsp.previous_page_number }}">&laquo;</a>
    {% else %}
      <p class="disabled"><span>&laquo;</span></p>
    {% endif %}
    {% for i in fundationsp.paginator.page_range %}
      {% if fundationsp.number == i %}
        <p class="btn btn-outline-info mb-4"> <span>{{ i }} <span class="sr-only">(current)</span></span></p>
      {% else %}
        <p><a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a></p>
      {% endif %}
    {% endfor %}
    {% if fundationsp.has_next %}
      <p><a class="btn btn-outline-info mb-4" href="?page={{ fundationsp.next_page_number }}">&raquo;</a></p>
    {% else %}
      <p class="disabled"><span>&raquo;</span></p>
    {% endif %}
  </div>
{% endif %}
  </div>

  </div>


  <!-- SLIDE 2 -->
  <div class="help--slides" data-id="2">
    {% for organization in sp %}
    <ul class="help--slides-items">
        <li>
        <div class="col">
          <div class="title">{{ organization.name }}</div>
          <div class="subtitle">{{organization.description}}</div>
        </div>

        <div class="col"><div class="text">{% for category in organization.category.all %}{{ category.name }}{% endfor %}</div></div>
      </li>
        {% endfor %}
      </ul>
{% if sp.has_other_pages %}
  <div class="pagination">
    {% if sp.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?p={{ sp.previous_page_number }}">&laquo;</a>
    {% else %}
      <p class="disabled"><span>&laquo;</span></p>
    {% endif %}
    {% for i in sp.paginator.page_range %}
      {% if sp.number == i %}
        <p class="btn btn-outline-info mb-4"> <span>{{ i }} <span class="sr-only">(current)</span></span></p>
      {% else %}
        <p><a class="btn btn-outline-info mb-4" href="?p={{ i }}">{{ i }}</a></p>
      {% endif %}
    {% endfor %}
    {% if sp.has_next %}
      <p><a class="btn btn-outline-info mb-4" href="?p={{ sp.next_page_number }}">&raquo;</a></p>
    {% else %}
      <p class="disabled"><span>&raquo;</span></p>
    {% endif %}
  {% endif %}
  </div>

  </div>






  <!-- SLIDE 3 -->
  <div class="help--slides" data-id="3">
    <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
    <ul class="help--slides-items">
      {% for local in localsp %}

        <li>
        <div class="col">
          <div class="title">{{ local.name }}</div>
          <div class="subtitle">{{local.description}}</div>
        </div>

        <div class="col"><div class="text">{% for category in local.category.all %}{{ category.name }}{% endfor %}</div></div>
      </li>
        {% endfor %}
{% if localsp.has_other_pages %}
  <div class="pagination">
    {% if sp.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?pp={{ localsp.previous_page_number }}">&laquo;</a>
    {% else %}
      <p class="disabled"><span>&laquo;</span></p>
    {% endif %}
    {% for i in localsp.paginator.page_range %}
      {% if localsp.number == i %}
        <p class="btn btn-outline-info mb-4"> <span>{{ i }} <span class="sr-only">(current)</span></span></p>
      {% else %}
        <p><a class="btn btn-outline-info mb-4" href="?pp={{ i }}">{{ i }}</a></p>
      {% endif %}
    {% endfor %}
    {% if localsp.has_next %}
      <p><a class="btn btn-outline-info mb-4" href="?pp={{ localsp.next_page_number }}">&raquo;</a></p>
    {% else %}
      <p class="disabled"><span>&raquo;</span></p>
    {% endif %}
  {% endif %}

    </ul>
  </div>

    <!-- Pagination
    <ul class="help--slides-pagination">
      <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
    </ul>
    -->

</section>
{% endblock %}

{% block extra_footer %}
<div id="contact" class="contact">
  <h2>Skontaktuj się z nami</h2>
  <h3>Formularz kontaktowy</h3>
  <form class="form--contact">
    <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
    <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

    <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

    <button class="btn" type="submit">Wyślij</button>
  </form>
</div>
{% endblock %}
